/demo
/.idea
Homestead.json
Homestead.yaml
.env
*.env
_notes
.sass-cache
/core/public/storage
/core/bower_components
/core/node_modules
/core/.sass-cache
/core/vendor/**/*.test
/core/vendor/**/Makefile
/core/vendor/**/conf.py
/core/vendor/**/.travis
/core/vendor/**/.travis.yml
/core/vendor/**/*.md
/core/vendor/**/.phpunit.sh
/core/vendor/**/phpunit*
/core/vendor/**/Tests/
/core/vendor/**/test/
/core/vendor/**/.gitignore
/core/vendor/**/.gitattributes
/core/vendor/**/LICENSE
/templates/bower_components
/templates/node_modules
/templates/.sass-cache