
// Bootstrap vars

$brand-primary: #455A64 !default;
//$btn-secondary-color: $gray-dark !default;
$btn-secondary-bg: #fff !default;
$btn-secondary-border: #78909C !default;

$border-radius-lg: .15rem !default;

$border-radius: .15rem !default;
$border-radius-lg: .15rem !default;
//$border-radius-sm:       .2rem !default;

$input-border-focus: #78909C !default;
$input-border-color: #78909C !default;